<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" failOnRisky="true" failOnWarning="true" stopOnFailure="false">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="build/coverage/clover.xml"/>
      <html outputDirectory="build/coverage/html" lowUpperBound="50" highLowerBound="90"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <php>
    <env name="APP_ENV" value="testing"/>
    <ini name="error_reporting" value="-1"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/Silencer.php</file>
    </exclude>
  </source>
</phpunit>
